# extends "base.html"

# block title
    Decimal ─
# endblock title

# block content_base
<section class="section">
    <div class="container">
        <h1 class="box title is-center has-text-centered has-background-primary">
            Convert from Decimal to Binary or Hexadecimal
        </h1>
        <div class="box has-background-primary">
            <form action="/decimal" method="post" class="is-flex is-flex-direction-column">
                <div class="columns">
                    <label class="column has-text-centered is-size-5" for="number_in_decimal">Decimal Number</label>
                    <input class="input is-primary column is-size-5 has-text-right" type="text" name="number_in_decimal" id="number_in_decimal" value={{in_decimal}}>
                    
                </div>
                <div class="columns is-align-self-center">
                    <div class="column is-size-2">
                        &equals;
                    </div>
                </div>
                <div class="columns">
                    <label class="column has-text-centered is-size-5" for="number_to_binary">Number in Binary</label>
                    <input class="input is-primary column is-size-5 has-text-right" type="text" name="number_to_binary" id="number_to_binary"
                    # if in_binary
                    {{'value='}}
                    {{in_binary}}
                    # endif
                     readonly>
                    
                </div>
                <div class="columns">
                    <label class="column has-text-centered is-size-5" for="number_to_hexa">Number in Hexadecimal</label>
                    <input class="input is-primary column is-size-5 has-text-right" type="text" name="number_to_hexa" id="number_to_hexa"
                    # if in_hexa
                    {{'value='}}
                    {{in_hexa}}
                    # endif
                     readonly>
                    
                </div>
                <div class="columns is-align-self-center">
                    <div class="column">
                        <input class="button is-primary is-light is-rounded" type="submit" value="C&olarr;NVERT">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
# endblock content_base