<header class="box has-background-primary-dark">
  <p class="title is-3 has-text-centered has-text-white">
    GET A NUMBER IN ANY BASIS
  </p>
  <p class="title is-4 has-text-centered has-text-white">
    Decimal &lurdshar; Binary &ldrushar; Hexadecimal
  </p>
  <nav class="navbar has-background-primary is-fixed-top">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="/" class="title has-text-grey-darker">C&olarr;NVERT NUMBERS</a>
      </div>
      <a role="button" class="navbar-burger" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-end">
        <a href="/decimal" class="navbar-item has-text-grey-darker">Dec &rArr; Bin</a>
        <a href="/decimal" class="navbar-item has-text-grey-darker">Dec &rArr; Hex</a>
        <a href="/" class="navbar-item has-text-grey-darker">Bin &rArr; Dec</a>
        <a href="/" class="navbar-item has-text-grey-darker">Bin &rArr; Hex</a>
        <a href="/" class="navbar-item has-text-grey-darker">Hex &rArr; Dec</a>
        <a href="/" class="navbar-item has-text-grey-darker">Hex &rArr; Bin</a>
      </div>
    </div>
  </nav>
</header>

