# extends "base.html"

# block title
    Hexadecimal ─
# endblock title

# block content_base
<section class="section">
    <div class="container">
        <h1 class="box title is-center has-text-centered has-background-primary">
            Convert from Hexadecimal to Decimal or Binary
        </h1>
        <div class="box has-background-primary">
            <form action="/hexadecimal" method="post" class="is-flex is-flex-direction-column">
                <div class="columns">
                    <label class="column has-text-centered is-size-5" for="number_in_hexa">Hexadecimal Number</label>
                    <input class="input is-primary column is-size-5 has-text-right" type="text" name="number_in_hexa" id="number_in_hexa" value={{in_hexa}}>
                    
                </div>
                <div class="columns is-align-self-center">
                    <div class="column is-size-2">
                        &equals;
                    </div>
                </div>
                <div class="columns">
                    <label class="column has-text-centered is-size-5" for="number_to_decimal">Number in Decimal</label>
                    <input class="input is-primary column is-size-5 has-text-right" type="text" name="number_to_decimal" id="number_to_decimal"
                    # if in_decimal
                    {{'value='}}
                    {{in_decimal}}
                    # endif
                     readonly>
                    
                </div>
                <div class="columns">
                    <label class="column has-text-centered is-size-5" for="number_to_binary">Number in Binary</label>
                    <input class="input is-primary column is-size-5 has-text-right" type="text" name="number_to_binary" id="number_to_binary"
                    # if in_binary
                    {{'value='}}
                    {{in_binary}}
                    # endif
                     readonly>
                    
                </div>
                <div class="columns is-align-self-center">
                    <div class="column">
                        <input class="button is-primary is-light is-rounded" type="submit" value="C&olarr;NVERT">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
# endblock content_base