# extends "base.html"

# block content_base
<section class="section">
    <div class="container">
        <h1 class="title is-center has-text-centered">
            Convert between different numerical bases
        </h1>
        <div class="is-flex is-flex-direction-column is-align-items-center">
            <div>
                <a href="/decimal" class="title is-5 navbar-item has-text-grey-darker has-background-primary  is-flex is-flex-direction-column">
                    <p>Decimal</p>
                    <p class="is-size-4">&dHar;</p>
                    <p>Binário/Hexadecimal</p>
                </a>
                <p></p>
            </div>
            <div>
                <a href="/binary" class="title is-5 navbar-item has-text-grey-darker has-background-primary is-flex is-flex-direction-column">
                    <p>Binário</p>
                    <p class="is-size-4">&dHar;</p>
                    <p>Decimal/Hexadecimal</p>
                </a>
                <p></p>
            </div>
            <div>
                <a href="/hexadecimal" class="title is-5 navbar-item has-text-grey-darker has-background-primary is-flex is-flex-direction-column">
                    <p>Hexadecimal</p> 
                    <p class="is-size-4">&dHar;</p>
                    <p>Decimal/Binário</p> 
                </a>
                <p></p>
            </div>
            
        </div>
    </div>
</section>
# endblock content_base