# extends "base.html"

# block content_base
<section class="section">
    <div class="container">
        <h1 class="title is-center has-text-centered">
            Convert between different numerical bases
        </h1>
        <div class="is-flex is-flex-direction-column is-align-items-center">
            <div>
                <a href="/decimal" class="title is-5 navbar-item has-text-grey-darker has-background-primary">Decimal &rArr; Binário</a>
                <p></p>
            </div>
            <div>
                <a href="/decimal" class="title is-5 navbar-item has-text-grey-darker has-background-primary">Decimal &rArr; Hexadecimal</a>
                <p></p>
            </div>
            <div>
                <a href="/" class="title is-5 navbar-item has-text-grey-darker has-background-primary">Binário &rArr; Decimal</a>
                <p></p>
            </div>
            <div>
                <a href="/" class="title is-5 navbar-item has-text-grey-darker has-background-primary">Binário &rArr; Hexadecimal</a>
                <p></p>
            </div>
            <div>
                <a href="/" class="title is-5 navbar-item has-text-grey-darker has-background-primary">Hexadecimal &rArr; Decimal</a>
                <p></p>
            </div>
            <div>
                <a href="/" class="title is-5 navbar-item has-text-grey-darker has-background-primary">Hexadecimal &rArr; Binário</a>
                <p></p>
            </div>
            
        </div>
    </div>
</section>
# endblock content_base